.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 12px;
    position: relative;
    top: 65%;
    width: 80%;

    label{
        position: relative;
        bottom: 2px;
        left: 2px;
    }
    
}