.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 12px;
    top: 65%;
    width: 80%;
    position: relative;
    top: 25%;
    margin-left: 15%;
    label{
        position: relative;
        bottom: 0.3rem;
        left: 0.3rem;
        font-size: 9.2px;
        
    }

    input {
        width: 20px;
        height: 20px;
    }

    
}

@media screen and (min-width: 481px){

    label{
        font-size: 10px;
    }

}


@media screen and (min-width: 768px){
    
    label{
        font-size: 13px; 
    }

}

@media screen and (min-width: 991px){
    
    .container {
        top: 67%;
        margin-left: unset;
    }
    label{
        position: relative;
        bottom: 2px;
        left: 2px;
        font-size: 9.3px; 
    }


}



